body {
  background-color: black;
  margin: 0;
  padding: 0;
}
.header {
  color: yellow;
  height: 200px;
  font-size: 100px;
  font-family: "Lemon", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player {
  color: #fdf0f0;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player1,
.player2 {
  display: inline-block;
  text-align: center;
  width: 200px;
  font-size: 25px;
  font-family: "Lemon", serif;
  color: rgb(204, 206, 97);
}

.player1 {
  margin-right: 30px;
}
.player2 {
  margin-left: 30px;
}

img {
  width: 100%;
  margin-top: 20px;
}
.footer {
  color: white;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}
